body{
    background-color: #dbf6e9;
    color: #1624447;
}

.App{
    text-align: center;
}

h1{
    font-size: 57px;
    font-family: "Press Start 2P",cursive;
}

.logo{
    margin-top: 2vh;
    margin-bottom: 3vh;
}

.footer-container{
    display: flex;
    justify-content: center;
    
    margin: 0;
    
}

.footer-text{
    font-size: 20px;
    font-family: monospace;
    color: #000000;
    margin: 10px;
    text-align: center;
}

.footer-link{
    color: #346ABD;
}

.footer-link:hover{
    color: #F40453;
}